{{define "content"}}
<div class="level">
    <div class="level-left">
        <h1 class="title">{{t .Lang "admin.video_edit.title"}} #{{.Video.ID}}</h1>
    </div>
    <div class="level-right">
        <a href="/admin/videos" class="button is-light">{{t .Lang "admin.common.back"}}</a>
    </div>
</div>

{{if .Error}}
<div class="notification is-danger">{{.Error}}</div>
{{end}}

<div class="box">
    <form method="post" action="/admin/videos/{{.Video.ID}}/edit">
        <div class="field">
            <label class="label">{{t $.Lang "admin.video_edit.youtube_label"}}</label>
            <div class="control">
                <input class="input" type="text" name="youtube_id" value="{{.Video.YoutubeID}}" required
                    placeholder="{{t $.Lang "admin.video_edit.youtube_placeholder"}}">
            </div>
        </div>
        <div class="field">
            <label class="label">{{t $.Lang "admin.common.name"}}</label>
            <div class="control">
                <input class="input" type="text" name="name" value="{{.Video.Name}}" placeholder="{{t $.Lang "admin.video_edit.name_placeholder"}}">
            </div>
        </div>
        <div class="field">
            <label class="label">{{t $.Lang "admin.common.categories"}} <span class="has-text-grey is-size-7">{{t $.Lang "admin.video_edit.categories_hint"}}</span></label>
            <div class="control">
                {{if .AllCategories}}
                {{range .AllCategories}}
                <label class="checkbox mr-4">
                    <input type="checkbox" name="category_ids" value="{{.ID}}"
                        {{if index $.SelectedCats .ID}}checked{{end}}>
                    {{.Name}}
                </label>
                {{end}}
                {{else}}
                <span class="has-text-grey">{{t $.Lang "admin.video_edit.no_categories"}}</span>
                {{end}}
            </div>
        </div>
        <div class="field is-grouped mt-4">
            <div class="control">
                <button class="button is-primary" type="submit">{{t $.Lang "admin.common.save"}}</button>
            </div>
            <div class="control">
                <a href="/admin/videos" class="button is-light">{{t $.Lang "admin.common.cancel"}}</a>
            </div>
        </div>
    </form>
</div>
{{end}}
